@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* navbar */


#navbar nav{
    background:#070617;
}

/* jumbotron */
body {
    font-family: 'Open Sans', sans-serif;
    }

#jumbotron div.jumbotron{
    background-image: url('../img/home.png');
    background-color: black;
    background-size: cover;
    color: white;
    padding-top: 75px;
    padding-bottom: 100px;
    margin-bottom: -60px;
    color: inherit;
}

#jumbotron div.up1{
    background:red;
}

#jumbotron img.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#jumbotron div.up2{
    background:red;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: .5rem;
  }
/* body */
#body .container.berita-headline{
    width: 100%;
    height: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    font:inherit;
    text-transform: uppercase;
    font-size: 24;
}

#body h3.light{
    font-size: 1.5em;
    font-weight: lighter;
    margin-top: -30px;
    margin-bottom: 40px;
}
#body h1.bold{
    font-size: 3em;
    font-weight: bold;
    letter-spacing: -1px;
}
#body h2.bold{
    font-size: 2em;
    font-weight: bold;
    letter-spacing: -1px;
}
#body h5.light{
    font-size: 1em;
    font-weight: lighter;
    letter-spacing: 0.1px;
}

/*Blog*/ 
body { 
    -webkit-font-smoothing: antialiased; 
    background: white; 
} 

.fly { 
    -webkit-transform: translateX(-200px); 
    -webkit-transition: 0.4s; 
    -moz-transition: 0.4s; 
    -o-transition: 0.4s; 
    -ms-transition: 0.4s; 
    transition: 0.4s; } 

.flyIn { 
    -webkit-transform: translateX(0px); 
    -webkit-transition: 0.4s; 
    -moz-transition: 0.4s; 
    -o-transition: 0.4s; 
    -ms-transition: 0.4s; 
    transition: 0.4s; 
} 

.col-md-4:hover { 
    background: #f7f7f7; 
    -webkit-transition: 0.4s; 
    -moz-transition: 0.4s; 
    -o-transition: 0.4s; 
    -ms-transition: 0.4s; 
    transition: 0.4s; 
    -webkit-transform: translateX(20px); 
    -moz-transform: translateX(20px); 
    -o-transform: translateX(20px); 
    -ms-transform: translateX(20px); 
    transform: translateX(20px); 
    position: relative; 
    z-index: 5000; } 
    
.post:hover { 
    text-decoration: none; 
} 

.fa { 
    margin-right: 5px; 
} 

.col-md-4 { 
    height: auto; 
    overflow: hidden; 
    background: #070617; 
    border: 1px solid #1e2328; 
    position: relative; 
    z-index: 0; 
} 

.col-md-4 .inner { 
    padding: 20px; 
} 

.col-md-4 .inner .category { 
    color: #F26743; 
    font: 900 13px Lato; 
    text-transform: uppercase; 
} 

.col-md-4 .inner .date { 
    font: 900 13px Lato; 
    color: #9b9eab; 
    margin-left: 5px; 
} 

.col-md-4 .inner h2 { 
    font: 900 24px Lato; 
    text-transform: uppercase; 
    margin-bottom: 18px; 
    color: #fff; 
} 
    
.col-md-4 .inner p { 
    font: 400 14px Lato; 
    line-height: 22px; 
    color: #9b9eab; 
} 

.col-md-4 .inner .read-more { 
    color: #F26743; 
    display: block; 
    font: 900 13px Lato; 
    position: relative; 
    text-transform: uppercase; 
} 

.col-md-4 .inner .read-more:hover { 
    text-decoration: none; 
} 

a:active, a:focus { 
    color: #F26743; 
    text-decoration: none; 
} 


/* footer */

/* STYLES SPECIFIC TO FOOTER  */
.footer {
  width: 100%;
  position: relative;
  height: auto;
  background-color: #070617;
}
.footer .col {
  width: 190px;
  height: auto;
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0px 20px 20px 20px;
}
.footer .col h1 {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 12px;
  line-height: 17px;
  padding: 20px 0px 5px 0px;
  color: rgba(255,255,255,0.2);
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.250em;
}
.footer .col ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer .col ul li {
  color: #999999;
  font-size: 14px;
  font-family: inherit;
  font-weight: bold;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
}

.footer .col ul li a{
    color: #999999;
    font-size: 14px;
    font-family: inherit;
    font-weight: bold;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
  }
.social ul li {
  display: inline-block;
  padding-right: 5px !important;
}

.footer .col ul li:hover {
  color: #ffffff;
  transition: .1s;
  -webkit-transition: .1s;
  -moz-transition: .1s;
}
.clearfix {
  clear: both;
}
@media only screen and (min-width: 1280px) {
  .contain {
    width: 1200px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1139px) {
  .contain .social {
    width: 1000px;
    display: block;
  }
  .social h1 {
    margin: 0px;
  }
}
@media only screen and (max-width: 950px) {
  .footer .col {
    width: 33%;
  }
  .footer .col h1 {
    font-size: 14px;
  }
  .footer .col ul li {
    font-size: 13px;
  }
  .footer .col ul li a{
    font-size: 13px;
  }
}
@media only screen and (max-width: 500px) {
    .footer .col {
      width: 50%;
    }
    .footer .col h1 {
      font-size: 14px;
    }
    .footer .col ul li {
      font-size: 13px;
    }
    .footer .col ul li a{
        font-size: 13px;
      }
}
@media only screen and (max-width: 340px) {
  .footer .col {
    width: 100%;
  }
}


