{% extends 'base.html' %}
{% include 'static/css/articlestyle.css' %}

{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/articlestyle.css' %}" type="text/css">
<title>Articles</title>
{% endblock %}

{% block body %}
{% load static %}
<div class="container" style="padding-top:100px;">
        <!------ Include the above in your HEAD tag ---------->
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="row mb-2">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="news-title">
                                                <h2>Diskusi Kajian Alokasi Anggaran Pemerintahan Papua
                                                    </h2>
                                            </div>
                                            <div class="news-cats">
                                                <ul class="list-unstyled list-inline mb-1">
                                                    <li class="list-inline-item">
                                                            <i class="fa fa-folder-o text-danger"></i>
                                                            <a href="#"><small>Papua</small> </a>
                                                    </li>
                                                     <li class="list-inline-item">
                                                            <i class="fa fa-folder-o text-danger"></i>
                                                            <a href="#"><small>21 Oktober 2018</small></a>
                                                    </li>
                                                  
                                                    
                                                    
                                                    
                                                </ul>
                                            </div>
                                            <hr>
                                            <div class="news-image">
                                                <img src="{% static '/img/news6.jpg' %}">
                                                <img src="{% static '/img/news6-2.jpg' %}">
                                                <p class="text-muted ">Sumber : Forum PTPRB</p>
                                            </div>
                                            <div class="news-content">
                                                <p>Diskusi Kajian Alokasi Anggaran Pemerintahan Papua untuk Pengurangan Resiko Bencana, Abepural, 28 Mei 2018.Partisipan terdiri dari Perguruan Tinggi, SKPD tingkat provinsi yang meliputi BWS Papua,Dinas Kesehatan, Lingkungan Hidup, Kelautan dan Perikanan,BKSDA, Lantamal X, Mercy Corps Indonesia, dan BPBD Provinsi Papua.
                                                    </p>
                                                
                                            </div>
                                            <hr>
                                            <!-- <div class="news-footer">
                                                <div class="news-likes">
                                                     <button type="button" class="btn btn-outline-secondary"><i class="fa fa-thumbs-o-up text-success"></i> <span class="badge ">Likes 4</span></button>
                                                      <button type="button" class="btn btn-outline-secondary"><i class="fa fa-thumbs-o-down text-danger"></i><span class="badge">Disklikes 4</span></button>
                                                </div>
                                            </div> -->
                                            <hr>
                                            <div class="news-tags">
                                                <h5>Tags</h5>
                                                <button type="button" class="btn btn-sm btn-secondary">
                                                  Papua<span class="badge badge-light">4</span>
                                                </button>
                                                <!-- <button type="button" class="btn btn-sm btn-secondary">
                                                  Entertainment <span class="badge badge-light">4</span>
                                                </button>
                                                <button type="button" class="btn btn-sm btn-secondary">
                                                  Automobile <span class="badge badge-light">4</span>
                                                </button>
                                                <button type="button" class="btn btn-sm btn-secondary">
                                                  Insurance <span class="badge badge-light">4</span>
                                                </button>
                                                <button type="button" class="btn btn-sm btn-secondary">
                                                  Energy <span class="badge badge-light">4</span>
                                                </button>
                                                <button type="button" class="btn btn-sm btn-secondary">
                                                  Health <span class="badge badge-light">4</span>
                                                </button> -->
                                            </div>
                                            <hr>
                                            <!-- <div class="news-author">
                                                <div class="row">
                                                    <div class="col-md-auto">
                                                            <a href="#" title="Biswajit Saha"><img src="//www.gravatar.com/avatar/021e64775176cc4c7018e5e867f17de2?s=250&d=mm&r=x" alt="Author image" class="rounded-circle" style="width:100px"></a>
                                                    </div>
                                                    <div class="col">
                                                        <div class="auth-title">
                                                            <h4 class="author h4"><a href="/author/biswajit/">Biswajit Saha</a></h4>
                                                            <div class="bio">
                                                                Developer at GBJ solution. I love to travel, make new friends. I prefer tea over coffee.
                                                            </div>
                                                            <ul class="list-unstyled list-inline">
                                                                <li class="list-inline-item"><a href="https://twitter.com/gbjsolution" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                                                <li class="list-inline-item"><a href="https://www.facebook.com/gbjsolution" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                                                <li class="list-inline-item"><a href="http://gbjsolution.com" target="_blank"><i class="fa fa-globe"></i></a></li>
                                                                <li class="list-inline-item"><i class="fa fa-map-marker"></i> India</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="col-md-3">
                    <div class="row mb-2">
                      <div class="col-md-12">
                          <div class="card">
                             <div class="row">
                              <div class="col-md-12">
                                  <div class="card">
                                    <div class="card-body">
                                        <h5>Berita</h5>
                                    </div>
                                   </div>
                              </div>
                             </div>
                             <div class="list-group">
                              <a href="/article/1/" class="list-group-item list-group-item-action">Jawa Timur</a>
                              <a href="/article/2/" class="list-group-item list-group-item-action">Sumatera Barat</a>
                              <a href="/article/3/" class="list-group-item list-group-item-action">Maluku</a>
                              <a href="/article/4/" class="list-group-item list-group-item-action">Sulawesi Tenggara</a>
                              <a href="/article/6/" class="list-group-item list-group-item-action active">Sulawesi Tenggara</a>
                            </div> 
                           </div>
                      </div>
                     </div>
                    <!-- <div class="row">
                      <div class="col-md-12">
                          <div class="card">
                            <div class="card-body">
                                <img src="http://www.3forty.media/cannix/wp-content/uploads/2018/04/clem-onojeghuo-228522-unsplash-1-768x1153.jpg">
                            </div>
                           </div>
                      </div>
                     </div> -->
                 </div>
                
            </div>
        </div>
    
</div>

{% endblock %}