{% extends 'base.html' %}
{% include 'static/css/articlestyle.css' %}

{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/articlestyle.css' %}" type="text/css">
<title>Articles</title>
{% endblock %}

{% block body %}
{% load static %}
<div class="container" style="padding-top:100px;">
        <!------ Include the above in your HEAD tag ---------->
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="row mb-2">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="news-title">
                                                <h2>Saran Kesiapsiagaan Menghadapi Perubahan Pola Cuaca  di Maluku, Oleh : Ferad Puturuhu</h2>
                                            </div>
                                            <div class="news-cats">
                                                <ul class="list-unstyled list-inline mb-1">
                                                    <li class="list-inline-item">
                                                            <i class="fa fa-folder-o text-danger"></i>
                                                            <a href="#"><small>Maluku</small> </a>
                                                    </li>
                                                     <li class="list-inline-item">
                                                            <i class="fa fa-folder-o text-danger"></i>
                                                            <a href="#"><small>21 Oktober 2018</small></a>
                                                    </li>
                                                  
                                                    
                                                    
                                                    
                                                </ul>
                                            </div>
                                            <hr>
                                            <div class="news-image">
                                                <img src="{% static '/img/news3.jpg' %}">
                                                <p class="text-muted ">Sumber : terasmaluku.com</p>
                                            </div>
                                            <div class="news-content">
                                                <p>Sebagai akibat adanya aliran massa udara basah dari Samudera Hindia masuk ke Indonesia, yang memberikan pengaruh 
                                                    terhadap pola cuaca dalam mensuplai uap air dan berkontribusi pada pertumbuhan awan basah di Indonesia Barat, 
                                                    Tengah dan Timur seperti yang dirilis oleh BMKG, maka saya mengingatkan kita semua sebagai para peneliti 
                                                    dari berbagai Perguruan Tinggi yang termasuk dalam FPT-PRB untuk tidak menutup mata dari kondisi yang terjadi di saat ini.</p>
                                                <p>Dimana sejak 2 hari, Jumat (18/5/2018) hingga Sabtu (19/5/208) hujan di Kota Ambon di Maluku sudah mengakibatkan banjir d
                                                    an longsor di beberapa titik diantaranya jalan di Naku, Halong Baru, dan Kopertis. kita bisa ada dalam peran 
                                                    masing-masing Perguruan Tinggi secara berlembaga atau perorangan untuk terlibat dalam mencari tahu berbagai 
                                                    kejadian bencana yang ada di sekitar kita. Turun ke lapangan melakukan peninjauan dan bisa sekaligus melakukan 
                                                    kajian kondisi aktual, dan memberikan informasi tentang kejadian di grup WA ataupun media lainnya untuk diketahui 
                                                    secara bersama dan menykapinya bersama BPBD dan stakeholder setempat.</p>
                                                <p>Dengan kejadian yang ada, Perguruan Tinggi melalui keahliannya sudah harus berpikir kenapa terjadi demikian, apa penyebabnya, 
                                                    dan dampaknya berapa besar, sehingga bisa mempersiapkan segala sesuatu untuk upaya mitigasi dan API terhadap kejadian bencana 
                                                    di Maluku dan khusus di Ambon. Wsapadai tanah longsor di daerah berlereng dengan vegetasi lebat sekalipun, terutama untuk daerah 
                                                    di Kecamatan Leitimur Selatan terhadap kejadian longsor karena pengaruh litologi atau bahan induk yang mudah lepas ditambah 
                                                    intensitas hujan yang tinggi, dan untuk daerah disekitar jalan raya akibat pembebanan jalan oleh kendaraan bermotor, 
                                                    jika turun hujan sangat berbahaya.</p>
                                                <p>Untuk wilayah permukiman di Kecamatan Sirimau, dan Nusaniwe perlu diwaspadai pada lereng-lereng yang lebih besar dari 30% 
                                                    dengan kepadatan permukiman sedang hingga tinggi. Dipasang terpal pada wilayah permukiman yang berada di lereng gunung yang 
                                                    terjal dan dianggap rawan terjadi tanah longsor, dibuat saluran drainase, meningatkan masyarakat untuk selalu siaga pada daerah 
                                                    rawan tanah longsor pada ketiga kecamatan yang berada di sekitar pusat Kota Ambon, Leitimur Selatan, Sirimau dan Nusaniwe.</p>
                                                <p>Waspadai banjir di permukiman sekitar bentaran sungai, sewaktu-waktu dalam intensitas hujan yang cukup tinggi dan berlangsung 
                                                    lama dapat menyebabkan luapan dari sungai-sungai yang ada di Kota Ambon. Seperti Waeruhu, Wae Batu Merah, Waetomu yang selalu 
                                                    menjadi langganan banjir dari tahun ke tahun. Oleh karena itu, kita harus menghimbau kepada masyarakat di lokasi-lokasi 
                                                    tersebut untuk dapat beradaptasi dengan kondisi itu, melalui pembuatan saluran drainase, membuat bronjong alamiah dengan 
                                                    pasir yang diisi di karung, membersihkan sampah disekitar permukiman dan bantaran sungai, dan selalu waspada/siap saga menghadapi bencana.</p>
                                                <p>Mari Bapak Ibu, sudah saatnya kita “singsingkan lengan baju” untuk maju bersama di daerah seribu pulau ini sebagai intelektuan pemikir dan peneliti 
                                                    dalam rangka Mengurangi Risiko Bencana, melalui aksi di lapangan, analisis, dan membangun regulasi secara terintegrasi 
                                                    untuk keselamatan banyak orang. Semoga bermanfaat untuk Pengurangan Risiko Bencana di Maluku dan Kota Ambon. </p>
                                                <p>Salam Tangguh, Ferad Puturuhu, Ketua Fodum Perguruan Tinggi Pangurangan Risiko Bencana Maluku dan Ketua Pusat Penelitian Pelatihan Pengurangan Risiko Bencana dan Adaptasi Perubahan Iklim Unpatti ,(P4RB-API).</p>
                                                
                                            </div>
                                            <hr>
                                            <!-- <div class="news-footer">
                                                <div class="news-likes">
                                                     <button type="button" class="btn btn-outline-secondary"><i class="fa fa-thumbs-o-up text-success"></i> <span class="badge ">Likes 4</span></button>
                                                      <button type="button" class="btn btn-outline-secondary"><i class="fa fa-thumbs-o-down text-danger"></i><span class="badge">Disklikes 4</span></button>
                                                </div>
                                            </div> -->
                                            <hr>
                                            <div class="news-tags">
                                                <h5>Tags</h5>
                                                <button type="button" class="btn btn-sm btn-secondary">
                                                  Maluku <span class="badge badge-light">4</span>
                                                </button>
                                                <!-- <button type="button" class="btn btn-sm btn-secondary">
                                                  Entertainment <span class="badge badge-light">4</span>
                                                </button>
                                                <button type="button" class="btn btn-sm btn-secondary">
                                                  Automobile <span class="badge badge-light">4</span>
                                                </button>
                                                <button type="button" class="btn btn-sm btn-secondary">
                                                  Insurance <span class="badge badge-light">4</span>
                                                </button>
                                                <button type="button" class="btn btn-sm btn-secondary">
                                                  Energy <span class="badge badge-light">4</span>
                                                </button>
                                                <button type="button" class="btn btn-sm btn-secondary">
                                                  Health <span class="badge badge-light">4</span>
                                                </button> -->
                                            </div>
                                            <hr>
                                            <!-- <div class="news-author">
                                                <div class="row">
                                                    <div class="col-md-auto">
                                                            <a href="#" title="Biswajit Saha"><img src="//www.gravatar.com/avatar/021e64775176cc4c7018e5e867f17de2?s=250&d=mm&r=x" alt="Author image" class="rounded-circle" style="width:100px"></a>
                                                    </div>
                                                    <div class="col">
                                                        <div class="auth-title">
                                                            <h4 class="author h4"><a href="/author/biswajit/">Biswajit Saha</a></h4>
                                                            <div class="bio">
                                                                Developer at GBJ solution. I love to travel, make new friends. I prefer tea over coffee.
                                                            </div>
                                                            <ul class="list-unstyled list-inline">
                                                                <li class="list-inline-item"><a href="https://twitter.com/gbjsolution" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                                                <li class="list-inline-item"><a href="https://www.facebook.com/gbjsolution" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                                                <li class="list-inline-item"><a href="http://gbjsolution.com" target="_blank"><i class="fa fa-globe"></i></a></li>
                                                                <li class="list-inline-item"><i class="fa fa-map-marker"></i> India</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="col-md-3">
                    <div class="row mb-2">
                      <div class="col-md-12">
                          <div class="card">
                             <div class="row">
                              <div class="col-md-12">
                                  <div class="card">
                                    <div class="card-body">
                                        <h5>Berita</h5>
                                    </div>
                                   </div>
                              </div>
                             </div>
                             <div class="list-group">
                              <a href="/article/1/" class="list-group-item list-group-item-action">Jawa Timur</a>
                              <a href="/article/2/" class="list-group-item list-group-item-action">Sumatera Barat</a>
                              <a href="/article/3/" class="list-group-item list-group-item-action active">Maluku</a>
                            </div> 
                           </div>
                      </div>
                     </div>
                    <!-- <div class="row">
                      <div class="col-md-12">
                          <div class="card">
                            <div class="card-body">
                                <img src="http://www.3forty.media/cannix/wp-content/uploads/2018/04/clem-onojeghuo-228522-unsplash-1-768x1153.jpg">
                            </div>
                           </div>
                      </div>
                     </div> -->
                 </div>
                
            </div>
        </div>
    
</div>

{% endblock %}