<html>
    <head>
        <!-- import css file -->
        {% include 'css.html'%} 

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        {% block head%}
        <title>Base</title>
        {% endblock%}

    </head>
    <body>
        <div id="main" style="display:block;">
        {% include 'navbar.html' %}

        {% block jumbotron %}
        {% endblock %}

        {% block body%}
        {% endblock%}

        {% block footer %}
        {% endblock %}
        
        <!-- import javascript file -->
        {% include 'javascript.html'%}
        </div>
    </body>
</html>