<section id="navbar">
    <nav class="nav navbar navbar-expand-lg navbar-dark fixed-top">
    
    <div class="container">
        {% load static %}
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarsExample07">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Tentang Kami
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/tentang/">Tentang Kami</a>
                          <a class="dropdown-item" href="#">Visi dan Misi</a>
                          <a class="dropdown-item" href="#">Struktur Organisasi</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li> 
                    <a class="nav-link" href="/peluang/">Program</a>
                    <li class="nav-item">
                    <a class="nav-link" href="/blockchain/">Riset dan Publikasi</a>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Provinsi
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="#">Sumatera Barat</a>
                          <a class="dropdown-item" href="/jawaengah/">Jawa Tengah</a>
                          <a class="dropdown-item" href="/jawatimur/">Jawa Timur</a>
                          <a class="dropdown-item" href="#">Sulawesi Tenggara</a>
                          <a class="dropdown-item" href="#">Maluku</a>
                          <a class="dropdown-item" href="#">Maluku Utara</a>
                          <a class="dropdown-item" href="#">Papua Barat</a>
                          <a class="dropdown-item" href="#">Papua</a>
                        </div>
                    </li>   
                </ul>
       
            </div>
        </div>
    </nav>
</section>
    
    