{% extends 'base.html' %}

{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/articlestyle.css' %}" type="text/css">
<title>Tentang</title>
{% endblock %}

{% block body %}
<div class="container" style="padding-top:60px;">

</div>

<div class="container">
<section id="tentang">
    <body>
        <div class="tabs">
        <input type="radio" name="tabs" id="tabone" checked="checked">
        <label for="tabone">Tentang Kami</label>
        <div class="tab">
            <p>Forum Perguruan Tinggi untuk Pengurangan Risiko Bencana (FPT-PRB) berfungsi sebagai pemimpin isu upaya pengurangan risiko bencana di kalangan perguruan tinggi di Indonesia. FPT-PRB dibentuk pada tanggal 19 November 2008 di Jakarta dalam pertemuan perwakilan dari pusat-pusat studi bencana yang berasal dari berbagai perguruan tinggi dengan didukung oleh Badan Nasional Penanggulangan Bencana (BNPB) dan United Nations Development Programme (UNDP).

                Latar belakang pembentukan FPT-PRB dilandasi oleh semakin meningkatnya jumlah dan jenis kejadian bencana di Indonesia pada akhir-akhir ini, dengan jumlah kerugian yang sangat besar dan berdampak buruk bagi keberlanjutan pembangunan di Indonesia. Untuk meningkatkan rasa aman dari risiko bencana upaya PRB secara sistematis sudah menjadi sesuatu hal yang sangat mendasar bagi bangsa Indonesia. Selain itu ada kebutuhan-kebutuhan tertentu bagi terbentuknya FPT-PRB antara lain sebagai berikut:
                
                Mengembangkan pengetahuan PRB melalui pendidikan dan penelitian serta penerapannya di masyarakat.
                Membangun kemampuan pendidikan PRB untuk memenuhi kebutuhan di masyarakat.
                Membangun sinergi antara peneliti dan praktisi PRB di lapangan.
                Menyampaikan pengetahuan PRB yang berkembang di perguruan tinggi kepada masyarakat luas.
                FPT-PRB merupakan salah satu unsur dalam Platform Nasional Pengurangan Risiko Bencana (Planas PRB). Planas PRB sendiri adalah sebuah forum independen yang dibentuk untuk mendorong serta memfasilitasi kerjasama antar berbagai pihak dalam upaya PRB di Indonesia. Planas PRB berupaya mewadahi semua kepentingan terkait kebencanaan, serta membantu menyelaraskan berbagai kebijakan, program dan kegiatan PRB di tingkat pusat, agar dapat mendukung tercapainya tujuan-tujuan PRB Indonesia dan terwujudnya ketahanan dan ketangguhan bangsa terhadap bencana, selaras dengan tujuan-tujuan Kerangka Aksi Hyogo.
            </p>   

            <h1>Dasar Pemikiran</h1>
            <p>
                    Pada 2017, FPT PRB berstatus badan hukum Perkumpulan. Perkumpulan didirikan dengan dasar pemikiran sebagai berikut: Indonesia adalah negara yang rawan dengan ancaman bencana, baik dari aspek geografis, geologis, hydrologis maupun demografis. Meskipun Indonesia telah mencapai kemajuan yang signifikan dalam membangun kerangka kelembagaan untuk pengurangan risiko bencana serta meningkatkan kesiapsiagaan bencana, namun perbaikan masih harus dibuat dalam meningkatkan agenda risk assessment and monitoring, early warning systems, penggunaan pengetahuan, inovasi dan pendidikan untuk membangun budaya keselamatan dan ketahanan di semua tingkat. Dengan latar belakang tersebut, ada ekspektasi terhadap pendidikan tinggi untuk memberikan kontribusi dalam pengurangan risiko bencana secara lebih profesional yang didasarkan pengetahuan ilmiah yang diperlukan untuk meningkatkan agenda ke tingkat yang diinginkan.

                    Menyadari bahwa pengurangan risiko bencana merupakan tanggung jawab bersama, maka para akademisi dari kalangan perguruan tinggi di Indonesia, yang peduli terhadap pengurangan risiko bencana, berhimpun untuk dapat berperan secara aktif dalam mewujudkan upaya pengurangan risiko bencana.
                
            </p>
        </div>
        
        <input type="radio" name="tabs" id="tabtwo">
        <label for="tabtwo">Visi dan Misi</label>
        <div class="tab">
            <p>
                Visi: Indonesia menjadi Negara yang terkemuka dalam pengembangan dan penerapan ilmu pengetahuan dan teknologi di bidang pengurangan risiko bencana di Indonesia.

                Misi: Sebagai wahana untuk berjejaring dan berbagi dalam bidang:
                
                <p>1. Academic exellence - melakukan kegiatan pengkajian secara teoritik dan empirik tentang pengurangan risiko bencana secara multidisiplin;</p>
                <p>2. Capacity building - mengembangkan sumber daya manusia dalam pengurangan risiko bencana/ penanggulangan bencana melalui pendidikan dan pelatihan;</p> 
                <p>3. Advocacy - melakukan advokasi dan memberikan bantuan teknis kepada masyarakat yang terancam bencana.</p>
            </p>
        </div>
        
        <input type="radio" name="tabs" id="tabthree">
        <label for="tabthree">Struktur Organisasi</label>
        <div class="tab">
          <h1>Periode 2015 - 2018</h1>
          <p>
                Hasil dari Musyawarah Nasional FPT PRB yang digelar di gedung LPPM UNS pada 17 Oktober 2015
                
                <p>Ketua: Eko Teguh Paripurno (PSMB, UPN Veteran, Yogyakarta)Periode 2015 - 2018</p>
        
               <p> Sekretaris: Endang Hilmi (UNSOED Purwokerto)</p>
                <p>Bendahara: Tukino (Puskasi, STKS, Bandung)</p>

                Divisi-Divisi:
                
                <p>Divisi Penelitian: Nasfryzal Carlo (Pusat Studi Bencana Universitas Bung Hatta, Padang)</p>
                <p>Divisi Pendidikan: Irwan Meilano</p>
                <p>Divisi pengabdian Masyarakat: Arif Rianto Budi Nugroho (PSMB, UPN Veteran, Yogyakarta)</p>
                <p>Divisi Kerjasama dan Jejaring: Sorja Koesuma (Pusat Studi Bencana, UNS, Surakarta)</p>
                
                Koordinator Wilayah:
                
                <p>Koordinator Wilayah Sumatera: Khairul Munadi (Unit Pelaksana Teknis Mitigasi Bencana Universitas Syiah Kuala)</p>
                <p>Koordinator Wilayah Kalimantan: Gusti Zulkifli Mulki</p>
                <p>Koordinator Wilayah Maluku: Ferad Puturuhu</p>
                <p>Koordinator Wilayah Bali, NTB, NTT: I Nyoman Sutarja</p>
                Koordinator Wilayah Papua: Hendri (Pusat Penelitian Lingkungan Hidup (PPLH) Universitas Papua)
                Koordinator Wilayah Jawa: Tridani Widyastuti; Aviasti
                Koordinator Wilayah Sulawesi: Rachman Kurniawan
                Dewan Pengawas:
                
                Sugeng Triutomo (Pusat Studi Bencana dan Adaptasi Perubahan Iklim, Universitas Pertahanan)
                Krishna S.Pribadi
                Djati Mardiatno
                Amien Widodo (Pusat Studi Kebumian, Bencana dan Perubahan Iklim Institut Teknologi Sepuluh Nopember)
                Euis Sunarti
                
                Sekretaris: Endang Hilmi (UNSOED Purwokerto)
                Bendahara: Tukino (Puskasi, STKS, Bandung)
                Divisi-Divisi:
                
                Divisi Penelitian: Nasfryzal Carlo (Pusat Studi Bencana Universitas Bung Hatta, Padang)
                Divisi Pendidikan: Irwan Meilano
                Divisi pengabdian Masyarakat: Arif Rianto Budi Nugroho (PSMB, UPN Veteran, Yogyakarta)
                Divisi Kerjasama dan Jejaring: Sorja Koesuma (Pusat Studi Bencana, UNS, Surakarta)
                Koordinator Wilayah:
                
                Koordinator Wilayah Sumatera: Khairul Munadi (Unit Pelaksana Teknis Mitigasi Bencana Universitas Syiah Kuala)
                Koordinator Wilayah Kalimantan: Gusti Zulkifli Mulki
                Koordinator Wilayah Maluku: Ferad Puturuhu
                Koordinator Wilayah Bali, NTB, NTT: I Nyoman Sutarja
                Koordinator Wilayah Papua: Hendri (Pusat Penelitian Lingkungan Hidup (PPLH) Universitas Papua)
                Koordinator Wilayah Jawa: Tridani Widyastuti; Aviasti
                Koordinator Wilayah Sulawesi: Rachman Kurniawan
                Dewan Pengawas:
                
                Sugeng Triutomo (Pusat Studi Bencana dan Adaptasi Perubahan Iklim, Universitas Pertahanan)
                Krishna S.Pribadi
                Djati Mardiatno
                Amien Widodo (Pusat Studi Kebumian, Bencana dan Perubahan Iklim Institut Teknologi Sepuluh Nopember)
                Euis Sunarti
                
          </p>
        </div>
        </div>
    </body>
</section>
</div>
{% endblock %}
